/* Configuracion custom index */

* {
    font-family: sans-serif;
}

body {
    background-image: url("https://www.cleanbandit.co.uk/assets/graphics/SectionBG/TikTok.jpg");
    background-size: space;
    background-attachment: fixed;
    background-position: center 0px;
}

.redes {
    display: flex;
    justify-content: center;
    vertical-align: auto;
}

.fondo-editado {
    background-image: url("https://cdn.hipwallpaper.com/i/80/42/vmI2Tw.png");
    background-repeat: repeat;
}

.topSongs {
    display: flex;
    justify-content: space-around;
}

.margin-top {
    margin-top: 3px;
}

.altura {
    height: auto;
}

.border-groove {
    border: groove 20px teal;
}

.fondo-editado {
    background-image: url("https://cdn.hipwallpaper.com/i/80/42/vmI2Tw.png");
    background-repeat: repeat;
}

.navbarcolor {
    background-image: url(../images/fondologo.jpg);
}

.redes {
    display: flex;
    justify-content: center;
    vertical-align: auto;
}

section.topSongs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.span-uppercase {
    font-size: 45px;
    font-weight: 900;
}

.font-size {
    font-size: xx-large;
}

.span-mid {
    font-size: 20px;
    font-weight: 900;
}

.background-historia {
    background-image: url("https://www.cleanbandit.co.uk/assets/graphics/SectionBG/TikTok.jpg");
    background-size: space;
    background-attachment: fixed;
    background-position: center 0px;
}

.centrado {
    align-self: center;
}


/* .title-noticias {
    display: flex;
    width: 75%;
    justify-content: center;
    box-sizing: border-box;
} */